        .section.socialshareicon-container {
            display: flex;
            max-width: 1120px;
            margin: 0 auto;
        }
        
        div.socialshareicon-wrapper {
            width: 240px;
            margin: 0
        }
        
        .socialshareicon.block {
            position: sticky;
            top: 300px;
        }
        /*div.socialshareicon-wrapper.is-sticky {
            top: 200px;
            width: 30em;
            height: 18em;
            margin-left: 340px;
            width: 240px;
            position: fixed;
        }
        */
        
        .socialshareicon>ul {
            list-style: none;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-direction: row;
        }
        
        .socialshareicon>ul>li {
            border: none;
            background-color: var(--background-color);
            margin-right: 16px;
        }
        
        .socialshareicon .button-container .icon:hover {
            background: linear-gradient(270deg, rgb(250 30 50), rgb(153 0 255));
        }
        
        .socialshareicon .button-container .icon svg:hover path {
            fill: white;
        }
        
        .socialshareicon .button-container .icon {
            width: 40px;
            height: 40px;
            background: transparent;
            display: inline-flex;
            border: 1px solid #e7e2da;
            border-radius: 100%;
            justify-content: center;
            align-items: center;
        }